* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-family: "Lora", serif;
}

.boxcontainer {
    width: 100%;
    height: 100vh;
    background-color: #fdcc7c;
}

.container {
    width: 100%;
    background-color: #fdcc7c;
    padding: 50px 50px 20px 50px;
}

.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchtext {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    transition: all ease 0.3s;
    background: linear-gradient(to right, rgb(243, 172, 90), rgb(231, 120, 8));
}

.home ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.home li a {
    text-transform: uppercase;
    position: relative;
    color: rgb(131, 69, 8);
    font-weight: 500;
    font-size: 16px;
}

.home li a:hover {
    color: white;
}

.home li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    transition: all ease 0.3s;
    background: linear-gradient(to right, rgb(243, 172, 90), rgb(231, 120, 8));
}

.home li a:hover::before {
    width: 100%;
}

.name {
    color: rgb(243, 172, 90);
    font-weight: 700;
    transition: all ease 0.5s;
}

.bot {
    color: rgb(131, 69, 8);
}

.name:hover {
    transform: scale(1.05);
}

.page {
    width: 100%;
    height: 20px;
    padding-bottom: 30px;
    background-color: #fdcc7c;
    color: rgb(131, 69, 8);
    font-size: large;
    font-weight: 500;
}

.footer {
    width: 100%;
    background-color: #fdcc7c;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.footmail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.coffee {
    padding-top: 20px;
    color: rgb(243, 172, 90);
    font-weight: 700;
    transition: all ease 0.5s;
}

.coffee:hover {
    transform: scale(1.05);
}

.foot {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.submit {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.btnsub {
    padding-top: 20px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: 600;
    color: rgb(131, 69, 8);
    padding: 5px;
    border-radius: 50px;
    transition: all ease 0.3s;
    background: linear-gradient(to right, rgb(243, 172, 90), rgb(231, 120, 8));
}

.btnsub:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, rgb(231, 120, 8), rgb(243, 172, 90));
}

.ptext {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.out {
    text-align: center;
    color: rgb(131, 69, 8);
    font-weight: 600;
    font-size: 16px;
}

.plorem {
    padding-left: 10px;
    color: rgb(131, 69, 8);
    font-weight: 500;
    font-size: 16px;
}

.nav {
    color: rgb(131, 69, 8);
    font-weight: 600;
    font-size: 16px;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.working {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-right: 50px;
}

.hour {
    color: rgb(131, 69, 8);
    font-weight: 600;
    font-size: 16px;
}

.time {
    color: rgb(131, 69, 8);
    font-weight: 500;
    font-size: medium;
}

.icontext {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(131, 69, 8);
    font-weight: 500;
    font-size: medium;
}

.aboutus {
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.touch {
    color: rgb(131, 69, 8);
    font-weight: 600;
    font-size: 16px;
}

.line {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fdcc7c;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.linelength {
    width: 100%;
    height: 1px;
    background-color: black;
    display: flex;
    border: 1px dotted #fdcc7c;
}

.copy {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 5px;
    color: rgb(131, 69, 8);
    font-weight: 500;
    font-size: 16px;
}

#texta {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
    color: rgb(131, 69, 8);
}

.mapphoto {
    width: 300px;
    height: 300px;
    display: flex;
}

.get {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showevents {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #fdcc7c;
    padding: 50px;
    background-image: url(./photo/slide/e6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    gap: 20px;
}

.showevents h2 {
    color: rgb(131, 69, 8);
}

.eventdate {
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 2px solid rgb(131, 69, 8);
    border-radius: 10px;
    color: rgb(131, 69, 8);
    font-weight: 600;
    font-size: 18px;
}

.eventshowing {
    width: 400px;
    color: rgb(131, 69, 8);
    font-size: 18px;
    font-weight: 600;
}

.comingevents {
    width: 100%;
    display: flex;
    padding: 50px;
    background-color: #fdcc7c;
    position: relative;
    justify-content: space-evenly;
}

.eventbox {
    width: 300px;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: all ease 0.5s;
}

.eventbox img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease 0.3s;
    pointer-events: none;
}

.eventbox .eventlayer {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: all ease 0.3s;
}

.eventbox:hover,
.eventbox:hover img,
.eventbox:hover eventlayer {
    transform: scale(1.1);
}

.eventbox:hover>.eventlayer {
    opacity: 1;
}

.eventinfo {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -70%;
    gap: 10px;
    padding-left: 20px;
}

.eventbox:hover>.eventinfo {
    bottom: 0;
    opacity: 1;
}

.eventtext {
    font-size: 16px;
    font-weight: 600;
    color: rgb(241, 149, 56);
    width: 100px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(131, 69, 8);
    text-align: center;
}

.submitevent {
    width: 100px;
    text-align: center;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    border: 2px solid rgb(131, 69, 8);
    border-radius: 10px;
    color: rgb(241, 149, 56);
    font-weight: 600;
    font-size: 16px;
    background-color: white;
}

.submitevent a {
    color: rgb(241, 149, 56);
    font-weight: 600;
    font-size: 16px;
}

.eventinfo h2 {
    width: 300px;
    color: rgb(241, 149, 56);
}

.teaching {
    font-size: 16px;
    font-weight: 600;
    color: rgb(241, 149, 56);
}

.eventphoto {
    width: 100%;
    display: flex;
    background-color: #fdcc7c;
    justify-content: space-evenly;
}

.barbtn {
    display: none;
    color: rgb(131, 69, 8);
    list-style: none;
    text-decoration: none;
}


@media(max-width:950px) {
    .navbox {
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100000;
        transition: all ease 0.5s;
        backdrop-filter: blur(5px);
        padding: 50px 20px;
        top: -500px;
    }

    .barbtn {
        display: block;
        display: flex;
        align-items: center;
    }

    .barshowon {
        top: 100px;
    }

    .aboutus {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .btnsub {
        display: none;
    }

    .comingevents {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .showevents {
        width: 100%;
        height: 50vw;
        display: flex;
        gap: 2px;
    }

    .showevents h2 {
        font-size: 18px;
    }

    .eventdate {
        padding: 0;
    }

    .eventshowing {
        font-size: 16px;
    }
}

.socialicon {
    font-size: 18px;
    color: rgb(131, 69, 8);
    display: flex;
    gap: 20px;
    padding: 10px;
}